@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');



* {
font-family: 'Source Sans Pro', sans-serif;

}
body {
background-color: #343639 !important;
}
.obal {
padding: 1rem;
border: 1px solid rgba(0,0,0,0.6);
background: #343a40;
}
.mainobal {
margin: auto;
text-align: center;
color: rgba(255,255,255,0.75);
font-size: 30px;
padding: 5px;
max-height: 100vh;
}
.buttons {
margin: 10px;
}
.nadpis {
display: block;
border-bottom: 1px solid rgba(255,255,255,0.75);
padding: 1.5rem;
}
