@import url('https://fonts.googleapis.com/css?family=Work+Sans');

body {
  background: #485563;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #29323c, #485563);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #29323c, #485563); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
* {
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Work Sans', sans-serif;
font-size:13px;
}
.navbar {
z-index: 3;
position: absolute;
bottom: 0;
width: 100%;
}
.menu {
z-index: 2;
background-color: #323A45;
width: 10vw;
height: 100vh;
position: absolute;
top: 0;
left: 0;
}
.sidenav {
z-index: 2;
background-color: #323A45;
height: 100vh;
position: absolute;
top: 0;
left: 0;
}
.sideMenuDiv, .log-out {
  width: 10vw;
}
.sidenav-link{
color: white;
}
.sidenav-link:hover {
color: rgba(255,255,255,0.5);
}
.sidenav .sidenav-link {
display: block;
border: 1px solid rgba(255,255,255,0.1);
}
.brandimg {
  background-image: url("../images/DomaSoftware.svg");
  background-repeat: no-repeat;
  height: 10vh;
  width: 100%;
}
.sekce {
z-index: 1;
padding: 2rem;
margin-left: 2vw;
margin-right: 2vw;
height: 87vh;
overflow: auto;
border-radius: 10px;
background: #6C747C;
color: #000;
}
.custom-file {
  display: none;
}
.tabulka, tr, td {
margin: 0 auto;
border: 1px solid black;
padding: 0.8rem;
}
.popis {
  font-size: 18px;
  margin-bottom: 5vh;
}
.formContent, .add-admin, .seznamClanku, .seznamModeratoru {
  border: 1px solid rgba(0,0,0,.1);
  border-radius: 10px;
  padding: 1rem;
}
.popupNav {
  background-color: rgba(52,57,64,0.8);
  width: 100%;
  height: 0%;
  position: fixed;
  z-index: 6;
  top: 0;
  left: 0;
  overflow-y: hidden;
  transition: 0.5s;
}
.popupNav a {
  text-decoration: none;
  color: black;
  font-size: 3rem;
  display: block;
}
.popNavLink {
  background-color: #fff;
  border: 1px solid gray;
  border-radius: 5vw;
  height: 100px;
  width: 100px;
}
.closeBtn:hover {
  color: #f1f1f1;
}
.popNavLink:hover, .popNavLink:focus {
  color: #f1f1f1;
  background-color: gray;
}
.popNavContent {
  position: relative;
  top: 15%;
  width: 100%;
  text-align: center;
}

.popupNav .closeBtn {
  position: absolute;
  top: 25px;
  right: 45px;
  font-size: 30px;
}
.dropdown-menu a {
color: #fff;
}
.sideAutorNav {
  height: 100%;
   width: 0;
   position: fixed;
   z-index: 4;
   top: 0;
   right: 0;
   overflow-x: hidden;
   padding-top: 4rem;
   transition: 0.5s;
}
.sideAutorNav a:not(.logA) {
  padding: 8px 8px 8px 32px;
text-decoration: none;
font-size: 25px;
color: #818181;
display: block;
transition: 0.3s;
}
.logA {
  padding: 8px 8px 8px 32px;
text-decoration: none;
  color:lightgray;
  display: block;
  margin: 0 auto;
  transition: 0.3s;
}

.sideAutorNav a:hover {
  color: #f1f1f1;
}

.sideAutorNav .closebtny {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-width: 1824px) {
 .brandimg {
   background-image: url("../images/DomaSoftware.svg");
   background-repeat: no-repeat;
   height: 10vh;
   width: 100%;
 }
}
@media screen and (max-width:450px) {
.usrFoot {
  display: none;
}
.sideAutorNav {padding-top: 15px;}
.sideAutorNav a {font-size: 18px;}
}
