@import url('https://fonts.googleapis.com/css?family=Work+Sans');
::-webkit-scrollbar {
    display: none;
}
body {
  background: #0F2027;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
* {
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Work Sans', sans-serif;
}
.navbar {
z-index: 3;
}
.menu {
z-index: 2;
background-color: #323A45;
width: 17vw;
position: absolute;
top: 0;
left: 0;
margin-top: 60px;
}
.sidenav {
z-index: 2;
background-color: #323A45;
width: 17vw;
height: 100%;
position: absolute;
top: 0;
left: 0;
}
.sidenav-link{
color: white;
}
.sidenav-link:hover {
color: rgba(255,255,255,0.5);
}

.sidenav .sidenav-link {
display: block;
border: 1px solid rgba(255,255,255,0.1);
}
.brandimg {
  background-image: url("../images/DomaSoftware.svg");
  background-repeat: no-repeat;
  height: 10vh;
  width: 100%;
}
.sekce {
z-index: 1;
padding: 2rem;
margin-left: 19vw;
margin-right: 2vw;
min-height: 100vh;
height: auto;
background-color: #81ecec;
color: #000;
}
.custom-file {
  display: none;
}

.tabulka, tr, td {
margin: 0 auto;
border: 1px solid black;
padding: 0.8rem;
}
.popis {
  font-size: 18px;
  margin-bottom: 5vh;
}
.formContent, .add-admin, .seznamClanku, .seznamModeratoru {
  border: 1px solid rgba(0,0,0,.1);
  border-radius: 10px;
  padding: 1rem;
}
@media screen and (max-width: 1824px) {
 .brandimg {
   background-image: url("../images/DomaSoftware.svg");
   background-repeat: no-repeat;
   height: 10vh;
   width: 100%;
 }
}
