@import url('https://fonts.googleapis.com/css?family=Work+Sans');

* {
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Work Sans', sans-serif;
}
nav {
background-color: rgba(0,0,0,0.7);
width: 15vw;
height: 100vh;
overflow-x: hidden;
position: fixed;
top: 0;
left: 0;
}
.nav-link{
color: white;
}
.nav-link:hover {
color: rgba(255,255,255,0.5);
}

nav .nav-link {
display: block;
}
.navbar-brand {
padding: 1rem;
}
.brandimg {
  background-image: url("../images/DomaSoftware.svg");
  background-repeat: no-repeat;
  height: 10vh;
  width: 20vw;
}
.menu {
  width: 15vw;
  height: 100%;
}
.sekce {
padding: 2rem;
margin-left: 15vw;
height: 100vh;
background-color: rgba(0,0,0,0.3);
}
.tabulka, tr, td {
margin: 0 auto;
border: 1px solid black;
padding: 0.8rem;
}
.popis {
  margin-bottom: 5vh;
}
@media screen and (max-width: 1824px) {
 .brandimg {
   background-image: url("../images/DomaSoftware.svg");
   background-repeat: no-repeat;
   height: 7vh;
   width: 14vw;
 }
}
